//正文标题
$font-size-largest = 22px
//发表时间那一行小字
$font-size-smallest = 12px
//正文字体大小
$font-size-large = 16px
//代码块的字体大小
$table-font-size = 14px

//博客标题字体大小
$font-size-title = 20px

$content-desktop         = 60%
$content-desktop-large   = 60%
$content-desktop-largest = 60%


$content-wrap              = calc(100% - 260px)